@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?23759541');
  src: url('../font/fontello.eot?23759541#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?23759541') format('woff'),
       url('../font/fontello.ttf?23759541') format('truetype'),
       url('../font/fontello.svg?23759541#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?23759541#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail-alt:before { content: '\e808'; } /* '' */
.icon-up-micro:before { content: '\e819'; } /* '' */
.icon-ok:before { content: '\e842'; } /* '' */
.icon-plus:before { content: '\e836'; } /* '' */
.icon-minus:before { content: '\e835'; } /* '' */
.icon-tag:before { content: '\e843'; } /* '' */
.icon-tags:before { content: '\e844'; } /* '' */
.icon-menu:before { content: '\e840'; } /* '' */
.icon-up-dir:before { content: '\e82c'; } /* '' */
.icon-down-big:before { content: '\e81f'; } /* '' */
.icon-right-big:before { content: '\e82f'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-heart:before { content: '\e80a'; } /* '' */
.icon-picture:before { content: '\e807'; } /* '' */
.icon-info:before { content: '\e822'; } /* '' */
.icon-info-circled:before { content: '\e833'; } /* '' */
.icon-lock:before { content: '\e820'; } /* '' */
.icon-lock-open:before { content: '\e821'; } /* '' */
.icon-eye:before { content: '\e828'; } /* '' */
.icon-thumbs-up:before { content: '\e803'; } /* '' */
.icon-feather:before { content: '\e830'; } /* '' */
.icon-keyboard:before { content: '\e80b'; } /* '' */
.icon-tools:before { content: '\e823'; } /* '' */
.icon-share:before { content: '\e800'; } /* '' */
.icon-hourglass:before { content: '\e827'; } /* '' */
.icon-down-open-big:before { content: '\e805'; } /* '' */
.icon-left-open-big:before { content: '\e81e'; } /* '' */
.icon-right-open-big:before { content: '\e81d'; } /* '' */
.icon-up-open-big:before { content: '\e804'; } /* '' */
.icon-up:before { content: '\e81a'; } /* '' */
.icon-up-bold:before { content: '\e82d'; } /* '' */
.icon-left-thin:before { content: '\e831'; } /* '' */
.icon-right-thin:before { content: '\e832'; } /* '' */
.icon-mobile:before { content: '\e826'; } /* '' */
.icon-paper-plane:before { content: '\e80f'; } /* '' */
.icon-user:before { content: '\e834'; } /* '' */
.icon-megaphone:before { content: '\e829'; } /* '' */
.icon-key:before { content: '\e80c'; } /* '' */
.icon-rocket:before { content: '\e825'; } /* '' */
.icon-flickr:before { content: '\e83e'; } /* '' */
.icon-vimeo:before { content: '\e83f'; } /* '' */
.icon-twitter:before { content: '\e816'; } /* '' */
.icon-facebook:before { content: '\e813'; } /* '' */
.icon-gplus:before { content: '\e814'; } /* '' */
.icon-pinterest:before { content: '\e815'; } /* '' */
.icon-linkedin:before { content: '\e817'; } /* '' */
.icon-dribbble:before { content: '\e818'; } /* '' */
.icon-rdio:before { content: '\e837'; } /* '' */
.icon-qq:before { content: '\e838'; } /* '' */
.icon-evernote:before { content: '\e839'; } /* '' */
.icon-renren:before { content: '\e83a'; } /* '' */
.icon-sina-weibo:before { content: '\e83b'; } /* '' */
.icon-paypal:before { content: '\e83c'; } /* '' */
.icon-menu-1:before { content: '\e841'; } /* '' */
.icon-left-open:before { content: '\e81b'; } /* '' */
.icon-right-open:before { content: '\e81c'; } /* '' */
.icon-key-1:before { content: '\e80d'; } /* '' */
.icon-key-inv:before { content: '\e80e'; } /* '' */
.icon-up-1:before { content: '\e82e'; } /* '' */
.icon-help-circled-1:before { content: '\e812'; } /* '' */
.icon-export:before { content: '\e802'; } /* '' */
.icon-mfg-logo:before { content: '\e83d'; } /* '' */
.icon-art-gallery:before { content: '\e806'; } /* '' */
.icon-help:before { content: '\e811'; } /* '' */
.icon-help-circled:before { content: '\e810'; } /* '' */
.icon-tag-2:before { content: '\e846'; } /* '' */
.icon-tags-1:before { content: '\e845'; } /* '' */
.icon-left-open-1:before { content: '\e82a'; } /* '' */
.icon-right-open-1:before { content: '\e82b'; } /* '' */
.icon-slideshare:before { content: '\e801'; } /* '' */
.icon-lifebuoy:before { content: '\e824'; } /* '' */